@import "tailwindcss";

* {
  /* outline: 1px solid rgba(255, 0, 0, 0.2);  */
}

@theme {
  /* Формат: --color-[назва-твого-кольору]: [hex-код]; */
  
  /* Основні брендові кольори */
  --color-brand-blue: #1D4ED8;    /* Твій головний синій з кнопок і лого */
  --color-brand-dark: #111827;    /* Колір для темних заголовків */
  --color-brand-light: #F8FAFC;   /* Колір світлого фону сторінки */
  
  /* Акцентні кольори (для іконок, стріків тощо) */
  --color-brand-orange: #FF6B00;  
  --color-brand-red: #EF4444;     /* Для повідомлень про помилку/вихід */
}